@import 'src/components/common/Styles/commonTableStyles';
@import 'src/components/common/Styles/returnToFullListButton';
@import 'src/components/common/Styles/simpleButton';
@import 'src/components/common/Styles/redButton';

.memberTracksTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tracksTable {
    @include commonTableStyles;
  }

  .returnToFullListButton {
    @include returnToFullListButton;
  }

  .userGreeting {
    font-size: 25px;
  }

  .trackButtons {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .trackEditButton {
    @include simpleButton;
  }

  .trackDeleteButton {
    @include redButton;
  }
}
