@import '../common/Styles/Mixins/Tables/commonTableStyles';
@import '../common/Styles/Mixins/Buttons/Buttons';


.memberTracksTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tracksTable {
    @include commonTableStyles;
  }

  .returnToFullListButton {
    @include returnToFullListButton;
  }

  .userGreeting {
    font-size: 25px;
  }
}
