@mixin commonTableStyles {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  & td {
    width: 200px;
    height: 80px;
    text-align: center;
    border: 1px solid rgba(157, 157, 158, 1);
  }

  & th {
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid rgba(157, 157, 158, 1);;
    background: rgba(16, 120, 224, 0.9);
  }
}

.darkLine {
  background: rgba(207, 207, 207, 0.5);
}
