@mixin table {
  width: 80vw;
  border-collapse: collapse;
  border: 1px solid black;
  background: #ffffff;
}

@mixin cell {
  max-width: 10rem;
  min-width: 2rem;
  text-align: center;
}

@mixin collapsedHide {
  & td {
    @include cell;
    border: 1px solid rgba(157, 157, 158, 1);
  }

  & th {
    @include cell;
    border: 1px solid rgba(157, 157, 158, 1);
    background: #28a745;
  }
}

@mixin commonTableStyles {
  @include table;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @media screen and (max-width: 480px) {
    @include collapsedHide;
    .collapsed {
      display: none;
    }
    .minRow {
      display: none;

      .tableInfo {
        display: none;
      }
    }
  }

  @media screen and (max-width: 800px) {
    @include collapsedHide;
    .collapsed {
      display: none;
    }
    .minRow {
      text-align: start;

      .tableInfo {
        list-style-type: none;
        padding: 0;
      }
    }
  }

  @media screen and (min-width: 800px) {
    @include collapsedHide;
    .minRow {
      display: none;
    }
  }
}

@mixin collapsedHideDark {
  & td {
    @include cell;
    border: 1px solid black;
    background: rgb(36, 41, 46);
    color: lightgray;
  }

  & th {
    @include cell;
    border: 1px solid black;
    background: rgb(36, 41, 46);
    color: lightgray;
  }
}

@mixin darkTable {
  @include table;
  box-shadow: 0 0 20px #007929;
  @media screen and (max-width: 480px) {
    @include collapsedHideDark;
    .collapsed {
      display: none;
    }
    .minRow {
      display: none;

      .tableInfo {
        display: none;
      }
    }
  }

  @media screen and (max-width: 800px) {
    @include collapsedHideDark;
    .collapsed {
      display: none;
    }
    .minRow {
      text-align: start;

      .tableInfo {
        list-style-type: none;
        padding: 0;
      }
    }
  }

  @media screen and (min-width: 800px) {
    @include collapsedHideDark;
    .minRow {
      display: none;
    }
  }
}
