@import '../common/Styles/Mixins/Buttons/Buttons';

.memberProfile {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.returnToMembersGrid,
.returnToTasksGrid {
  align-self: flex-start;
}


