@import '../common/Styles/Mixins/Buttons/Buttons';

.memberProfile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.tasksButton,
.tracksButton {
  @include simpleButton;
  margin-left: 1rem;
}

.tracksButton.active,
.tasksButton.active {
  @include simpleButton;
  color: green;
  margin-left: 1rem;
}
