@import '../common/Styles/Mixins/Buttons/Buttons';

.tasksButton,
.tracksButton {
  @include simpleButton;
  margin-left: 1rem;

}

.activeTasksButton,
.activeTracksButton {
  @include simpleButton;
  color: green;
  margin-left: 1rem;
}
