@import '../../common/Styles/Mixins/Buttons/Buttons';

.membersButtonsGroup {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.progressMemberButton,
.tasksMemberButton,
.editMemberButton {
  width: 6rem;
  margin: 0.2rem;
}

.deleteMemberButton {
  width: 6rem;
  margin: 0.2rem;
}
