@import '../common/Styles/Mixins/Tables/commonTableStyles';
@import '../common/Styles/Mixins/Buttons/Buttons';

.tasksTableContainer {
  min-height: 80vh;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .tasksTable {
    @include commonTableStyles;
  }
}
