@import '../common/Styles/Mixins/Tables/commonTableStyles';
@import '../common/Styles/Mixins/Buttons/Buttons';

.tasksTableContainer {
  min-height: 80vh;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;


  .light.tasksTable {
    @include commonTableStyles;
  }

  .dark.tasksTable {
    @include darkTable;
  }

  .taskCreateButton {
    @include memberRegisterButton;
    align-self: flex-start;
  }

}
