@import 'src/components/common/Styles/commonTableStyles';
@import '../common/Styles/Buttons/returnToFullListButton';
@import '../common/Styles/Buttons/simpleButton';
@import '../common/Styles/Buttons/redButton';

.tasksTableContainer {
  min-height: 500px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .tasksTable {
    @include commonTableStyles;
  }
}
