@mixin redButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(255, 0, 0, 1);
  border-radius: 3px;
  &:hover {
    background: rgba(212, 34, 34, 1);
    transition: background 0.5s ease, color 0.2s linear;
  }
}
