@import '../common/Styles/Mixins/Tables/commonTableStyles';
@import '../common/Styles/Mixins/Buttons/Buttons';
@import 'src/components/common/Styles/Mixins/Pages/pages';

.memberTasksTableContainer {
  @include pagesMainStyles;

  .light.memberTasksTable {
    @include commonTableStyles;
  }

  .dark.memberTasksTable {
    @include darkTable;
  }

  .returnToFullListButton {
    @include returnToFullListButton;
  }

  .userGreeting.dark {
    color: #008f02;
  }

  .userGreeting {
    font-size: 25px;
  }

  .Fail {
    color: #dc3545;
    font-weight: bold;
  }
  .Success {
    color: #28a745;
    font-weight: bold;
  }
}
