.memberTasksTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memberTasksTable {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid black;
}

.memberTasksTable td {
  width: 200px;
  height: 80px;
  text-align: center;
  border: 1px solid black;
}

.memberTasksTable th {
  width: 100px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  background: rgba(9, 116, 237, 0.7);
}

.darkLine {
  background: rgba(207, 207, 207, 0.5);
}

.returnToFullListButton {
  margin: 10px;
}
