@import 'src/components/common/Styles/Mixins/Flex/flex';

@mixin modal {
  @media screen and (max-width: 800px) {
    @include centerFlex;
    height: auto;
  }
  @media screen and (min-width: 800px) {
    @include centerFlex;
    min-width: 45rem;
    height: auto;
  }
}

@mixin modalBody {
  @include centerFlex;
  width: 50vw;
  height: auto;
  background: rgba(255, 255, 255, 1);
}

@mixin darkModal {
  @include centerFlex;
  width: 50rem;
  height: auto;
  background: black;
}
