@import "src/components/common/Styles/Mixins/Buttons/Buttons";

.loginForm {
  width: auto;
  height: auto;
  background: rgb(241, 248, 255);
  border: 2px solid rgb(200, 225, 255);

  @mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginFormBody {
    @include flex;
    align-items: center;
    padding: 2rem;

    .loginFormInputList {
      @include flex;
      align-items: flex-end;
      list-style-type: none;
      padding: 0;
    }

  }
}
