@import "src/components/common/Styles/Mixins/Buttons/Buttons";

.loginForm {

  @mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include flex;
  width: 25rem;
  height: auto;
  background: rgb(241, 248, 255);
  border: 2px solid rgb(200, 225, 255);


  .loginTitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .loginFormBody {
    @include flex;
    align-items: center;
    padding: 1rem;

    .loginFormInputList {
      @include flex;
      list-style-type: none;
      padding: 0;
    }

      .loginButton {
        margin-top: 2rem;
        width: 8rem;
      }


  }
}
