.navButton {
  width: 8rem;
}

.active {
  .light.navButton {
    width: 8rem;
    background: #28a745;
    color: black;
  }
}

.dark.navButton {
  width: 8rem;
}

.active {
  .navButton {
    width: 8rem;
    background: #6c757d;
    color: black;
  }
}
