@import "src/components/common/Styles/Mixins/Buttons/Buttons";

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background: rgb(36, 41, 46);

  .logoutButton {
    @include simpleButton;
    margin-right: 2rem;
  }
}
