@import "src/components/common/Styles/Mixins/Buttons/Buttons";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background: rgb(36, 41, 46);

  .devIncubatorLogo {
    margin-left: 3rem;
    height: 2.5rem;
    width: auto;
  }

  .logoutButton {
    margin-right: 2rem;
  }
}
