@import '../../common/Styles/Buttons/registerUserButton';

@mixin modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
}

.modal {
  @include modal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 110;

  .closeModalArea {
    @include modal;
    z-index: 100;
  }

  .modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;

    @mixin closeModalButton {
      align-self: flex-end;
      height: 1.5rem;
      font-size: 1.5rem;
      width: auto;
      outline: none;
      cursor: pointer;
      border: none;
      background: #fff;
    }

    .closeModalButton {
      @include closeModalButton;

      &:hover {
        @include closeModalButton;
      }
    }

    .submitButton {
      @include memberRegisterButton;
    }
  }
}
