@import '../../common/Styles/Mixins/Buttons/Buttons';
@import 'src/components/common/Styles/Mixins/Flex/flex';

.modalData {
  @include centerFlex;

  .modalForm {
    @include centerFlex;
  }

  .inputList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    max-width: 45rem;
    align-items: center;
    list-style-type: none;
    margin: 0;

    .inputItem {
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-height: 6rem;
      width: 20rem;
    }
  }

  .modalButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 50%;

    .submitButton,
    .closeButton {
      margin: 0.5rem;
    }
  }
}
