@import '../common/Styles/Mixins/Buttons/Buttons';
@import '../common/Styles/Mixins/Tables/commonTableStyles';

.membersTableContainer {
  min-height: 80vh;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .memberRegisterButton {
    @include memberRegisterButton;
    align-self: flex-start;
  }

  .membersTable {
    @include commonTableStyles;
  }
  .memberButtons {
    padding: 0.5rem;
  }
}
