@import '../common/Styles/Mixins/Buttons/Buttons';
@import '../common/Styles/Mixins/Tables/commonTableStyles';

.membersTableContainer {
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .memberRegisterButton {
    @include memberRegisterButton;
    align-self: flex-start;
  }

  .light.membersTable {
    @include commonTableStyles;
  }

  .dark.membersTable {
    @include darkTable;
  }

  .memberButtons {
    padding: 0.5rem;
  }
}
