@import '../../Styles/Mixins/Buttons/Buttons';

.buttonsContainer {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.editButton,
.deleteButton {
  width: 6rem;
  margin: 0.5rem;
}
