@import '../../Styles/Mixins/Buttons/Buttons';

.buttonsContainer {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.editButton {
  width: 5rem;
}

.deleteButton {
  width: 5rem;
}
