@import '../common/Styles/Buttons/registerUserButton';
@import '../common/Styles/commonTableStyles';

.membersTableContainer {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .memberRegisterButton {
    @include memberRegisterButton;
    align-self: flex-start;
  }

  .membersTable {
    @include commonTableStyles;
  }
}
