.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  height: auto;
  width: 10rem;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: rgb(241, 248, 255);
  border-right: 1px solid rgb(200, 225, 255);

  .navButton {
    margin-top: 1rem;
    width: 8rem;
  }

  .active {
    .navButton {
      margin-top: 1rem;
      width: 8rem;
      background: #6c757d;
      color: black;
    }
  }
}