.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background: rgb(36,41,46);
  border-top: 1px solid #000;

  .allRights{
    font-size: 1rem;
    color: rgb(223,226,229);
  }
}
