.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 12vh;
  background: rgb(36, 41, 46);
  border-top: 1px solid #000;

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .linksContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 15rem;
      list-style-type: none;
      margin-top: 1rem;
      padding: 0;
    }

    .linkIcon {
      color: #ffffff;

      &:hover {
        color: green;
        cursor: pointer;
        transition: color 200ms linear;
      }
    }

    .allRights {
      width: 15rem;
      font-size: 1rem;
      color: rgb(223, 226, 229);
    }
  }

}
