.textAreaLabel {
  width: 100%;
  height: auto;
}

@mixin textArea {
  min-width: 18rem;
  width: 100%;
  min-height: 6rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.textArea {
  @include textArea;
  border: 1px solid #ced4da;
}

.dark .textArea {
  @include textArea;
  background: #6c757d;
  color: #000000;
}
