.statusButtonsGroup {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.taskTrackButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 140, 255, 1);
  border-radius: 3px;
}

.taskTrackButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(9, 116, 237, 1);
  border-radius: 3px;
  background: rgba(9, 116, 237, 1);
  transition: background 0.5s ease, color 0.2s linear;
}
.successStatusButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(27, 196, 39, 1);
  border-radius: 3px;
}

.successStatusButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(27, 196, 39, 1);
  border-radius: 3px;
  background: rgba(27, 196, 39, 1);
  transition: background 0.5s ease, color 0.2s linear;
}

.failStatusButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(255, 0, 0, 1);
  border-radius: 3px;
}

.failStatusButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(212, 34, 34, 1);
  border-radius: 3px;
  background: rgba(212, 34, 34, 1);
  transition: background 0.5s ease, color 0.2s linear;
}
