@import '../../common/Styles/Mixins/Buttons/Buttons';

.statusButtonsGroup {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.taskTrackButton {
  @include simpleButton;
}

.successStatusButton,
.failStatusButton {
  width: 5rem;
  margin: 0.5rem;
}
