@import '../../common/Styles/Mixins/Buttons/Buttons';

.statusButtonsGroup {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.taskTrackButton {
  @include simpleButton;
}


.successStatusButton {
  width: 5rem;
}


.failStatusButton {
  width: 5rem;
}
