@import '../common/Styles/Mixins/Buttons/Buttons';

@mixin appContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vw;
}

.dark.appContainer {
  @include appContainer;
  background: rgba(108, 117, 125, 1);
}

.light.appContainer {
  @include appContainer;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 80vh;
  min-width: 100vw;
  width: auto;
  margin-top: 2rem;
}
