@import '../common/Styles/Mixins/Buttons/Buttons';

.appContainer {
  display: flex;
  flex-direction: row;

}

.pagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 80vh;
  min-width: 90vw;
  width: auto;
  margin-top: 2rem;
}


.navigationButtons {

  .membersButton,
  .tasksTabButton {
    width: 8rem;
    margin-top: 1rem;
  }
}
