@import '../common/Styles/Mixins/Buttons/Buttons';

.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vw;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 80vh;
  min-width: 90vw;
  width: auto;
  margin-top: 2rem;
}
