@mixin genderInputs {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20rem;
  height: 5rem;

  .validationMessage {
    height: 1rem;
    width: 7rem;
  }

  .submitMessage {
    font-size: 0.8rem;
    color: #d02e31;
  }
}

.genderInputs {
  @include genderInputs;
}

.dark .genderInputs {
  @include genderInputs;
  color: #008f02;
}
