@import '../../common/Styles/Mixins/Buttons/Buttons';

.modalData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userRegisterInputList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    max-width: 45rem;
    max-height: 42rem;
    align-items: center;
    list-style-type: none;

    .inputItem {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 6rem;
      width: 20rem;
    }

  }

  .modalButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    width: 50%;
  }
}
