@import '../../common/Styles/Buttons/simpleButton';
@import '../../common/Styles/Buttons/redButton';

.membersButtonsGroup {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.progressMemberButton,
.tasksMemberButton,
.editMemberButton {
  @include simpleButton;
}

.deleteMemberButton {
  @include redButton;
}
