.membersButtonsGroup {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.progressMemberButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 140, 255, 1);
  border-radius: 3px;
  /*background: rgba(0, 140, 255, 1);*/
}

.progressMemberButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(9, 116, 237, 1);
  border-radius: 3px;
  background: rgba(9, 116, 237, 1);
  transition: background 0.5s ease, color 0.2s linear;
}

.tasksMemberButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 140, 255, 1);
  border-radius: 3px;
  /*background: rgba(0, 140, 255, 1);*/
}

.tasksMemberButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(9, 116, 237, 1);
  border-radius: 3px;
  background: rgba(9, 116, 237, 1);
  transition: background 0.5s ease, color 0.2s linear;
}

.editMemberButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 140, 255, 1);
  border-radius: 3px;
  /* background: rgba(0, 140, 255, 1);*/
}

.editMemberButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(9, 116, 237, 1);
  border-radius: 3px;
  background: rgba(9, 116, 237, 1);
  transition: background 0.5s ease, color 0.2s linear;
}

.deleteMemberButton {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(255, 0, 0, 1);
  border-radius: 3px;
  /* background: rgba(255, 0, 0, 1);*/
}

.deleteMemberButton:hover {
  min-width: 80px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(212, 34, 34, 1);
  border-radius: 3px;
  background: rgba(212, 34, 34, 1);
  transition: background 0.5s ease, color 0.2s linear;
}
