@import '../common/Styles/Mixins/Tables/commonTableStyles';
@import 'src/components/common/Styles/Mixins/Pages/pages';

.permissionsTableContainer {
  @include pagesMainStyles;

  .light.dimsIntroduction {
    color: #000000;
    font-size: 1.2rem;
  }

  .dark.dimsIntroduction {
    color: lightgray;
    font-size: 1.2rem;
  }

  .greenPermission {
    color: green;
  }

  .redPermission {
    color: red;
  }

  .light.permissionsTable {
    @include commonTableStyles;

    .permissionName {
      text-align: left;
    }
  }

  .dark.permissionsTable {
    @include darkTable;

    .permissionName {
      text-align: left;
    }
  }
}
